**/_x
**/_x.hw.
**/_x.hw.xilinx_zcu104_base_202320_1
**/_x.hw_emu.
**/_x.sw_emu.
**/build_dir.hw.
**/build_dir.hw_emu.
**/build_dir.sw_emu.
**/package.hw.
**/package.hw_emu.
**/package.sw_emu.
**/sd_card.
**/emconfig.json
**/.Xil
**/.ipcache
**/build_dir.hw.xilinx_zcu104_base_202320_1
**/v++*
**/xcd.log
**/bin
**/*.log
**/*.err
**/hls_xo